.table-work-hour .ant-table-tbody > .ant-table-row:hover {
  box-shadow: none; /* Отключает тень вокруг строки при наведении */
}

.table-work-hour .ant-table-tbody > .ant-table-row:hover > .ant-table-cell {
  border-left-color: inherit; /* Цвет левой границы ячейки наследуется от родительского элемента */
  border-right-color: inherit; /* Цвет правой границы ячейки наследуется от родительского элемента */
  background-color: transparent; /* Фон ячеек становится прозрачным */
}

.editable-cell {
  position: relative; /* Относительное позиционирование */
}

.table-work-hour .editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer; /* Курсор в виде указателя */
  width: 80px;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4.2px 11.2px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}

/* Определяет анимацию "мигания" для выделенных строк таблицы, изменяя их фоновый цвет. */
@keyframes blink {
  15%,
  100% {
    background-color: transparent; /* Начальный и конечный фон прозрачный */
  }
  65% {
    background-color: #a3f1a3; /* Промежуточный фон */
  }
}

.highlighted-row {
  animation: blink 2.2s ease-in-out; /* Продолжительность анимации 2.2 секунды, плавное начало и завершение */
}

.table-work-hour .ant-table-tbody > .ant-table-row .delete-button {
  visibility: hidden; /* Кнопка становится невидимой */
  opacity: 0; /* Кнопка полностью прозрачная */
}

.table-work-hour .ant-table-tbody > .ant-table-row:hover .delete-button {
  visibility: visible; /* Кнопка становится видимой */
  opacity: 1; /* Кнопка полностью непрозрачная */
}
