@media (min-width: 63px) {

  .flex {
    display: flex;
  }

  .column {
    flex-direction: column;
  }

  .row {
    flex-direction: row;
  }

  .center-row {
    align-items: center;
  }

  .center-column {
    justify-content: center;
  }

  .center-text {
    text-align: center;
  }

  .text-bold {
    font-weight: bold;
  }

  .space-around {
    justify-content: space-around;
  }

  .page-rate {
    margin: 0 auto;
    flex-grow: 1;
    justify-content: space-between;
    min-height: 100%;
    /*overflow-x: hidden;*/
  }

  .rate-header {
    justify-content: space-between;
    height: 80px;
    max-width: 90%;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    /*border: solid 2px purple;*/
  }

  .rate-footer {
    /*align-items: center;*/
    width: 100%;
    background-color: #f4f7f9;
    /*border: orange 2px solid;*/
  }

  .footer-group {
    /*border: blue 2px solid;*/
    width: 1000px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-block {
    /*border: red 2px solid;*/
    align-items: center;
  }

  .rate-footer-text-one {
    justify-content: flex-start;
    margin: 30px auto 5px;
    font-size: 18px;
    text-align: left;
  }

  .rate-footer-text-two {
    margin: 10px auto 20px;
    font-size: 16px;
    text-align: left;
  }

  .rate-footer-text-three {
    margin: 10px auto 20px;
    font-size: 14px;
    text-align: center;
  }

  .rate-footer-telegram {
    height: 35px;
  }

  .rate-footer-telegram:hover {
    filter: brightness(80%);
  }

  .rate-footer-block2 {
    /*border: green 2px solid;*/
    align-items: flex-start;
    margin: 0 30px 0 0;
  }

  .rate-block {
    width: 1000px;
    /*border: solid 2px blue;*/
    margin: 20px auto;
  }

  .rate-text-block {
    margin: 5vh auto 0;
    align-items: flex-start;
    /*border: solid 2px red;*/
  }

  .rate-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 2vh;
  }

  .rate-text {
    font-size: 18px;
    line-height: 35px;
    margin: 4vh 0 4vh;
    width: 550px;
  }

  .button-block {
  }

  .button-buy {
    margin-top: 10px;
    height: 48px;
    width: 260px;
    font-size: 18px;
    font-weight: bold;
  }

  .mini-text {
    width: 100%;
    margin: 15px auto 20px;
  }

  .rate-jumbotron {
    width: 600px;
    margin: 0 0 20px 20px;
    /*border: solid 2px green;*/
  }
}