@media (min-width: 1000px) {

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .flex {
    display: flex;
  }
  .column {
    flex-direction: column;
  }

  .row {
    flex-direction: row;
  }

  .center-row {
    align-items: center;
  }

  .center-column {
    justify-content: center;
  }

  .center-text {
    text-align: center;
  }

  .text-bold {
    font-weight: bold;
  }

  .space-around {
    justify-content: space-around;
  }

  .header {
    justify-content: space-between;
    height: 80px;
    width: 1000px;
    margin: 0 auto;
  }

  .logo {
    height: 30px;
  }

  .button-login {
    width: 100px;
    height: 35px;
  }

  .button-register {
    width: 130px;
    height: 35px;
  }

  .title-primary {
    font-size: 40px;
  }

  .text-primary {
    font-size: 18px;
    max-width: 27vw;
  }

  .block {
    margin: 15vh auto;
    width: 1000px;
  }

  .text-block {
    position: relative;
    max-width: 40vw;
  }

  .button-start {
    margin-top: 30px;
    height: 48px;
    width: 260px;
    font-size: 15px;
  }

  .jumbotron {
    height: 400px;
    margin-right: -2vw;
  }

  .jumbotron-secondary {
    height: 300px;
  }

  .jumbotron-tertiary {
    height: 320px;
  }

  .block-secondary {
    margin: 9vh auto;
    width: 1000px;
  }

  .text-block-secondary {
    width: 28vw;
    font-size: 17px;
  }

  .title-secondary {
    font-size: 33px;
    width: 500px;
    margin: 15px auto;
  }

  .title-tertiary {
    font-size: 35px;
    width: 700px;
    margin: 15px auto;
  }

  .block-group {
    margin: 30px auto;
  }

  .title-group {
    font-size: 35px;
  }

  .block-tertiary {
    width: 1000px;
  }

  .block-quaternary {
    width: 100%;
    background-color: #f4f7f9;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .text-tertiary {
    font-size: 18px;
    width: 500px;
    margin-top: 20px;
  }

  .card-grid {
    margin: 50px auto;
    width: 1000px;
  }

  .card-secondary {
    height: 350px;
    width: 280px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
  }

  .card-title-secondary {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .card-image-secondary {
    height: 50px;
  }

  .block-quinary {
    margin: 30px auto;
    width: 1000px;
  }

  .image-container {
    height: 300px;
    margin: 0;
  }

  .block-column {
    margin: 0 40px 10px;
  }

  .footer {
    width: 100%;
    background-color: #f4f7f9;
  }

  .footer-text-primary {
    margin: 30px auto 5px;
    font-size: 18px;
  }

  .footer-text-secondary {
    margin: 10px auto 20px;
    font-size: 16px;
  }

  .footer-text-tertiary {
    margin: 10px auto 20px;
    font-size: 14px;
  }

  .logo-telegram {
    height: 35px;
  }

  .logo-telegram:hover {
    filter: brightness(80%);
  }
}