@media (min-width: 1000px) {

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 1000px;
    margin: 0 auto;
  }

  .logo {
    height: 30px;
  }

  .button-login {
    width: 100px;
    height: 35px;
  }

  .button-register {
    width: 130px;
    height: 35px;
  }

  .title-primary {
    font-size: 42px;
    font-weight: bold;
  }

  .text-primary {
    font-size: 18px;
  }

  .space-element {
    display: flex;
    flex-direction: column;
    height: 170px;
  }

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 1000px;
  }

  .text-block {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto 20px;
    width: 450px;
  }

  .button-start {
    margin-top: 20px;
    height: 48px;
    width: 260px;
    font-size: 14px;
    font-weight: bold;
  }

  .jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    /*max-width: 45%*/
  }

  .jumbotron-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 0 10px;*/
    height: 360px;
    /*max-width: 34%;*/
  }

  .jumbotron-tertiary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 0 10px;*/
    height: 320px;
    /*max-width: 30%;*/
  }

  .block-secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 30px auto;
    width: 1000px;
  }

  .text-block-secondary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 340px;
    text-align: center;
    font-size: 16px;
  }

  .title-secondary {
    font-size: 38px;
    text-align: center;
    width: 390px;
  }

  .title-tertiary {
    font-size: 52px;
    text-align: center;
    width: 500px;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1000px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 170px;
    border: solid 3px #c3e6ff;
    border-radius: 10px;
    padding: 15px 0 0 0;
    box-sizing: border-box;
  }

  .card-image-primary {
    height: 100px;
  }

  .card-title-primary {
    font-size: 18px;
  }

  .block-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
  }

  .block-tertiary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    /*margin: 30px auto;*/
    width: 1000px;
  }

  .block-quaternary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f4f7f9;
    padding-top: 30px;
    padding-bottom: 30px;
    /*margin: 30px auto;*/
  }

  .text-tertiary {
    font-size: 18px;
    width: 500px;
    text-align: center;
    margin-top: 20px;
  }

  .card-grid {
    margin: 50px auto;
    width: 1000px;
  }

  .card-secondary {
    height: 350px;
    width: 280px;
  }

  .card-title-secondary {
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .card-image-secondary {
    height: 50px;
  }

  .block-quinary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
  }

  .image-container {
    height: 300px;
  }

  .block-column {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    margin: 0 30px 30px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f4f7f9;
  }

  .footer-text-primary {
    margin: 30px auto 5px;
    font-size: 18px;
  }

  .footer-text-secondary {
    margin: 0 auto 10px;
    font-size: 16px;
  }

  .footer-text-tertiary {
    margin: 10px auto 20px;
    font-size: 14px;
  }

  .logo-telegram {
    height: 35px;
  }

  .logo-telegram:hover {
    filter: brightness(80%);
  }
}