.registration-form {
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 20px;
}

.registration-form-button {
  margin-top: 15px;
  height: 55px;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
}

@media (min-width: 1000px) {

    .page-landing {
        margin: 0 auto;
    }

    .flex {
        display: flex;
    }

    .column {
        flex-direction: column;
    }

    .row {
        flex-direction: row;
    }

    .center-row {
        align-items: center;
    }

    .center-column {
        justify-content: center;
    }

    .center-text {
        text-align: center;
    }

    .text-bold {
        font-weight: bold;
    }

    .space-around {
        justify-content: space-around;
    }

    .header {
        justify-content: space-between;
        height: 80px;
        max-width: 90%;
        width: 1000px;
        margin: 0 auto;
        position: relative;
    }

    .logo {
        height: 30px;
    }

    .button-login {
        width: 100px;
        height: 35px;
    }

    .button-registration {
        width: 130px;
        height: 35px;
    }

    .title-one {
        font-size: 40px;
    }

    .text-group {
        font-size: 18px;
        max-width: 27vw;
    }

    .block-one {
        margin: 15vh auto;
        /*max-width: 90%;*/
        width: 1000px;
    }

    .text-block {
        position: relative;
        max-width: 40vw;
    }

    .button-start {
        margin-top: 30px;
        height: 48px;
        width: 260px;
        font-size: 15px;
    }

    .jumbotron-one {
        height: 400px;
        margin-right: -2vw;
    }

    .jumbotron-two {
        height: 320px;
    }

    .jumbotron-block {
        height: 300px;
    }

    .jumbotron-block2 {
        height: 300px;
    }

    .block-two {
        margin: 9vh auto;
        min-width: 90%;
    }

    .text-block-two {
        width: 28vw;
        font-size: 17px;
    }

    .title-mini {
        font-size: 33px;
        width: 500px;
        margin: 15px auto;
    }

    .title-two {
        font-size: 35px;
        width: 700px;
        margin: 15px auto;
    }

    .block-three {
        margin: 30px auto;
    }

    .block-group {
        width: 1000px;
    }

    .title-group {
        font-size: 35px;
    }

    .block-four {
        width: 100%;
        background-color: #f4f7f9;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .text-two {
        font-size: 18px;
        width: 500px;
        margin-top: 20px;
    }

    .card-grid {
        margin: 50px auto;
        width: 1000px;
    }

    .card {
        height: 350px;
        width: 280px;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
    }

    .card-title {
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .card-image {
        height: 50px;
    }

    .block-five {
        margin: 30px auto;
        width: 1000px;
    }

    .image-container {
        height: 300px;
        margin: 0;
    }

    .image-container2 {
        height: 300px;
        margin: 0;
    }

    .block-column {
        margin: 0 30px 10px;

    }

    .footer {
        width: 100%;
        background-color: #f4f7f9;
    }

    .footer-text-one {
        margin: 30px auto 5px;
        font-size: 18px;
    }

    .footer-text-two {
        margin: 10px auto 20px;
        font-size: 16px;
    }

    .footer-text-three {
        margin: 10px auto 20px;
        font-size: 14px;
    }

    .logo-telegram {
        height: 35px;
    }

    .logo-telegram:hover {
        filter: brightness(80%);
    }
}

@media (min-width: 300px) and (max-width: 1000px) {

    .page-landing {
        margin: 0 auto;
    }

    .flex {
        display: flex;
    }

    .column {
        flex-direction: column;
    }

    .row {
        flex-direction: row;
    }

    .center-row {
        align-items: center;
    }

    .center-column {
        justify-content: center;
    }

    .center-text {
        text-align: center;
    }

    .text-bold {
        font-weight: bold;
    }

    .space-around {
        justify-content: space-around;
    }

    .header {
        height: 80px;
        flex-direction: column;
        width: 100%;
        margin: 30px auto;
    }

    .logo {
        max-width: 50vw;
        margin: 0 auto 20px;
    }

    .button-login {
        width: 100px;
        height: 35px;
    }

    .button-registration {
        width: 130px;
        height: 35px;
    }

    .block-one {
        padding: 20px;
    }

    .text-block {
        margin: 2vh 6vw;
    }

    .title-one {
        font-size: 9vw ;
        font-weight: bold;
    }

    .text {
        font-size: 5vw;
        /*max-width: 50vw;*/
    }

    .button-start {
        margin-top: 30px;
        height: 50px;
        width: 280px;
        font-size: 16px;
    }

    .jumbotron-one {
        max-width: 55vw;
        height: auto;
        margin-right: 2vw;
        display: none;
    }

    .jumbotron-two {
        max-width: 90vw;
    }

    .block-two {
        padding: 20px;
        /*min-width: 100%;*/
        flex-direction: column;
    }

    .jumbotron-block {
        max-width: 90vw;
        /*display: none;*/
    }

    .jumbotron-block2 {
        max-width: 90vw;
        display: none;
    }

    .block-column {
        margin: 0 10px 10px;
        min-width: 100%;

    }

    .title-mini {
        font-size: 6.8vw;
        margin: 15px auto;
    }

    .text-block-two {
        max-width: 70vw;
        font-size: 4.8vw;
    }

    .title-two {
        font-size: 7.8vw;
        margin: 15px auto;
    }

    .block-three {
        margin: 30px auto;
    }

    .block-group {
        width: 100%;
        flex-direction: column
    }

    .block-group-two {
        width: 100%;
        flex-direction: column-reverse;
    }

    .title-group {
        font-size: 8.5vw;
    }

    .text-group {
        font-size: 4.8vw;
    }

    .block-four {
        width: 100%;
        background-color: #f4f7f9;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .text-two {
        font-size: 4.8vw;
        max-width: 70vw;
        margin-top: 20px;
    }

    .card-grid {
        margin: 50px auto;
        /*width: 100%;*/
    }

    .card {
        height: 380px;
        width: 320px;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        margin: 0 auto;
    }

    .card-title {
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .card-image {
        height: 50px;
    }

    .block-five {
        margin: 30px auto;
        flex-direction: column;
    }

    .image-container {
        max-width: 90vw;
        margin: 0 auto;
    }

    .image-container2 {
        max-width: 90vw;
        margin: 0;
        display: none;
    }

    .footer {
        width: 100%;
        background-color: #f4f7f9;
    }

    .footer-text-one {
        margin: 30px auto 5px;
        font-size: 18px;
    }

    .footer-text-two {
        margin: 10px auto 20px;
        font-size: 16px;
    }

    .footer-text-three {
        margin: 10px auto 20px;
        font-size: 14px;
    }

    .logo-telegram {
        height: 35px;
    }

    .logo-telegram:hover {
        filter: brightness(80%);
    }
}