.rate-footer-text-two {
  font-size: 16px;
}

.rate-footer-text-three {
  margin: 10px auto 20px;
  font-size: 14px;
  text-align: center;
}

.rate-footer {
  width: 100%;
  background-color: #f4f7f9;
}

@media (min-width: 1000px) {
  .page-rate {
    margin: 0 auto;
    flex-grow: 1;
    overflow-x: hidden;
  }

  .rate-header {
    justify-content: space-between;
    height: 80px;
    max-width: 90%;
    width: 1000px;
    margin: 0 auto;
    position: relative;
  }

  .rate-dropdown-button-menu {
    display: none;
  }

  .rate-block {
    width: 1000px;
    height: 500px;
    margin: 7vh auto 130px;
  }

  .rate-text-block {
    margin: 5vh auto 50px;
    align-items: flex-start;
  }

  .rate-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 2vh;
  }

  .rate-text {
    font-size: 18px;
    line-height: 33px;
    margin: 4vh 0 4vh;
    width: 400px;
  }

  .button-buy {
    margin-top: 10px;
    height: 56px;
    width: 290px;
    font-size: 16px;
    font-weight: bold;
  }

  .rate-jumbotron {
    width: 500px;
    margin: 0 0 20px 12px;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .page-rate {
    margin: 0 auto;
    min-height: 100%;
  }

  .rate-header {
    justify-content: space-between;
    height: 80px;
    max-width: 90%;
    width: 700px;
    margin: 0 auto;
    position: relative;
  }

  .rate-dropdown-button-menu {
    margin-left: 440px;
  }

  .rate-block {
    width: 700px;
    margin: 9vh auto;
    flex-direction: column-reverse;
  }

  .rate-text-block {
    margin: 3vh auto 0;
    width: 700px;
    align-items: center;
  }

  .rate-title {
    font-size: 34px;
    font-weight: bold;
    margin-top: 2vh;
    width: 500px;
    text-align: center;
  }

  .rate-text {
    font-size: 19px;
    line-height: 35px;
    margin: 4vh auto 4vh;
    width: 400px;
    text-align: center;
  }

  .button-buy {
    margin-top: 10px;
    height: 56px;
    width: 300px;
    font-size: 19px;
    font-weight: bold;
  }

  .rate-jumbotron {
    width: 500px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .page-rate {
    min-height: 100%;
  }

  .rate-header {
    height: 80px;
    margin: 0 auto;
  }

  .rate-dropdown-button-menu {
    margin-left: 300px;
  }

  .rate-block {
    width: 500px;
    margin: 9vh auto;
    flex-direction: column-reverse;
  }

  .rate-text-block {
    margin: 3vh auto 0;
    width: 500px;
    align-items: center;
  }

  .rate-title {
    font-size: 35px;
    font-weight: bold;
    margin-top: 2vh;
    width: 500px;
    text-align: center;
  }

  .rate-text {
    font-size: 18px;
    line-height: 35px;
    margin: 4vh auto 4vh;
    width: 400px;
    text-align: center;
  }

  .button-buy {
    margin-top: 10px;
    height: 56px;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
  }

  .rate-jumbotron {
    width: 500px;
  }
}

@media (min-width: 63px) and (max-width: 575px) {
  .page-rate {
    min-height: 100%;
  }

  .rate-header {
    height: 80px;
    margin: 0 auto;
  }

  .rate-dropdown-button-menu {
    margin-left: 80px;
  }

  .rate-block {
    width: 300px;
    margin: 9vh auto;
    flex-direction: column-reverse;
  }

  .rate-text-block {
    margin: 3vh auto 0;
    width: 300px;
    align-items: center;
  }

  .rate-title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 2vh;
    width: 300px;
    text-align: center;
  }

  .rate-text {
    font-size: 20px;
    line-height: 35px;
    margin: 4vh auto 4vh;
    width: 280px;
    text-align: left;
  }

  .button-buy {
    margin-top: 10px;
    height: 56px;
    width: 270px;
    font-size: 18px;
    font-weight: bold;
  }

  .rate-jumbotron {
    width: 300px;
  }
}
