@media (min-width: 1000px) {

  .container-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
  }

  .container-header {
    align-items: center;
    /*!*align-content: center;*!*/
    /*!*flex-direction: row;*!*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;

  }

  /*.container-logo {*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  justify-content: center;*/
  /*  align-items: center;*/
  /*  align-self: flex-start;*/
  /*  padding-right: 10vw;*/
  /*  position: relative;*/
  /*  bottom: 4vh;*/
  /*}*/
  .logo-style {
    height: 110px;
  }

  .title-style-1 {
    font-size: 32px;
  }

  .text-style-1 {
    font-size: 16px;
  }

  .img-main {
    height: 40vh;
  }

  .space-style {
    display: flex;
    flex-direction: column;
    height: 170px;
  }

  .button-registration {
    /*  display: flex;*/
    /*  flex-direction: row;*/
    /*  justify-content: center;*/
    /*  align-items: center;*/
    /*  align-self: flex-start;*/
    /*  margin-left: 20vw;*/
    /*  position: relative;*/
    /*  margin-top: 1vh;*/
  }

  /*.button-login {*/
  /*  display: flex;*/
  /*  flex-direction: row;*/
  /*  justify-content: center;*/
  /*  align-items: center;*/
  /*  align-self: flex-start;*/
  /*  margin-left: 1vw;*/
  /*  position: relative;*/
  /*  margin-top: 1vh;*/
  /*}*/
  .container-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .container-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
  }

  .start-button {
    margin-top: 20px;
  }

  .container-jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /*margin-right: 5%;*/
  }

  .containerBlock2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 150px;
  }

  .containerText2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4vh;
  }

  .title-style-2 {
    font-size: 52px;
  }

  .text-style-2 {
    font-size: 24px;
  }
}