.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

/*.logo {*/
/*  height: 32px;*/
/*  margin: 16px;*/
/*  background: rgba(255, 255, 255, 0.3);*/
/*}*/

/* Кнопка Обновить*/
.centerTitle {
  display: flex;
  align-content: center;
  justify-content: space-between;
  /*margin-bottom: 10px;*/
}

.greenButton {
  color: #31aa2d !important;
}

.greenButton:hover {
  color: #31aa2d !important;
  border-color: #31aa2d !important;
}

.greenButton:active {
  color: #31aa2d !important;
  border-color: #31aa2d !important;
}

.greenButton:focus {
  color: #31aa2d !important;
  border-color: #31aa2d !important;
}

.context-style {
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
  border-radius: 8px;
  background: white;
  overflow: auto;
}

.login-form {
  max-width: 400px;
  width: 100%;
}

.login-form-forgot {
  /*float: right;*/
  float: left;
}

.login-form-button {
  width: 100%;
}

.container-all {
  display: flex;
  flex-direction: column;
  /*flex-basis: 500px;*/
}

.container1 {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /*height: 300px;*/
  margin-top: -300px;
  margin-bottom: 30px;
  /*margin-right: -10px;*/
  /*width: 100%;*/
}

.containerLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /*margin-left: 50px;*/
  /*margin-top: 60px;*/
  /*margin-bottom: 0px;*/
  margin-right: 800px;
  /*left: 20px;*/
  /*flex-basis: 300px;*/
}

.containerButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: -120px;
  margin-left: 800px;
  margin-bottom: 100px;
  /*right: 100px;*/
  /*flex-basis: 300px;*/
}

.containerBlock {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*height: 100px;*/
  /*margin-top: 90px;*/
  /*margin-right: -10px;*/
  /*flex-basis: 300px;*/
  /*width: 100%;*/

}


.containerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*align-self: flex-start;*/
  /*margin-top: 60px;*/
  /*margin-left: -500px;*/
  /*margin-right: 500px;*/
  margin-right: 30vw;
}



.container-jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30vh;
  margin-left: 40vw;
  /*margin-right: 90px;*/
}