/* App style */
.app-header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 30px;
  justify-content: space-between;
  height: 73px;
}

.logo-container {
  position: relative;
  margin-right: 10px;
}

.logo-header {
  height: 30px;
  margin-top: 20px;
  margin-right: 30px;
}

.logo-beta {
  position: absolute;
  top: -25px;
  left: 160px;
  color: #1677ff;
}

.app-content {
  margin: 24px 16px;
  padding: 24px;
  border-radius: 8px;
  background: white;
  /*!*overflow: auto;*!   Разобраться с пустым местом справа  */
}

.app-footer {
  text-align: center;
}

.content-title-bar {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

/* Table style */
.even-row {
  background-color: #fff; /* Цвет для четных строк */
}

.odd-row {
  background-color: #f5f5f5; /* Цвет для нечетных строк */
}
