.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center-row {
  align-items: center;
}

.center-column {
  justify-content: center;
}

.center-text {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

/* Table style */
.table-even-row {
  /*background-color: #fff; !* Цвет для четных строк *!*/
}

.table-odd-row {
  /*background-color: #f5f5f5; !* Цвет для нечетных строк *!*/
}

.ant-table-tbody > .ant-table-row:hover > .ant-table-cell {
  background-color: #b3d8ff !important; /* Яркий цвет для подсветки */
}

.ant-table-summary > .ant-table-row > .ant-table-cell {
  background-color: inherit !important; /* Убираем подсветку для итоговых строк */
}

.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
  min-width: 90px;

}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #001529;
    border-radius: 2px;
}

/* Tabs style */
.ant-tabs-nav-list {
  padding-left: 30px;
  height: 32px;
}

.ant-tabs-tab {
  border-top: 1px solid #1677ff !important;
  border-right: 1px solid #1677ff !important;
  border-left: 1px solid #1677ff !important;
  border-bottom: 1px solid transparent !important; /* Прозрачная нижняя граница */
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important; /* Белый текст для активного Tab */
}

.ant-tabs-tab-active {
  background-color: #1677ff !important; /* Яркий фон для активного Tab */
}

.ant-tabs-nav-wrap {
  border-bottom: 5px solid #1677ff !important; /* Цвет нижней границы */
}

.ant-tabs-tab-active {
  border-bottom: 1px solid #1677ff !important; /* Жирная нижняя граница синего цвета */
}

/* Form style */
.form-style {
  min-height: 70vh;
  background-color: white;
  border-radius: 7px;
  padding-top: 10px;
}