.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center-row {
  align-items: center;
}

.center-column {
  justify-content: center;
}

.center-text {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

/* Table style */
.ant-table-tbody > .ant-table-row:hover {
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.15) /* Тень сверху */,
  0 3px 6px 0 rgba(0, 0, 0, 0.15); /* Тень снизу */
}

.ant-table-tbody > .ant-table-row:hover > .ant-table-cell {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

/* Tabs style */
.ant-tabs-nav-list {
  padding-left: 30px;
  height: 30px;
}

.ant-tabs-tab {
  background-color: white !important;
  border: 1px solid rgba(100, 100, 103, 0.3) !important;
  border-bottom: 1px solid transparent !important; /* Прозрачная нижняя граница */
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important; /* Белый текст для активного Tab */
}

.ant-tabs-tab-active {
  background-color: #1677ff !important; /* Яркий фон для активного Tab */
  border-bottom: 1px solid #1677ff !important; /* Жирная нижняя граница синего цвета */
}

.ant-tabs-nav-wrap {
  border-bottom: 5px solid #1677ff !important; /* Цвет нижней границы */
}

/* Page form style */
.page-form-style {
  min-height: 70vh;
  background-color: white;
  border-radius: 7px;
  padding: 15px;
}

/* Form style */
.form-style .ant-input,
.form-style .ant-picker {
  border: none !important; /* Убирает все границы элемента */
  border-radius: 0 !important; /* Убирает скругление углов */
  box-shadow: none !important; /* Удаляет тень вокруг элемента */
  border-bottom: 2px solid #d9d9d9 !important; /* Серый цвет нижней границы */
}

.form-style .ant-input:hover,
.form-style .ant-picker:hover {
  box-shadow: none !important; /* Удаляет тень вокруг элемента */
  border-bottom: 2px solid #a9a9a9 !important; /* Серый цвет нижней границы */
}

.form-style .ant-input:focus,
.form-style .ant-picker-focused {
  box-shadow: none !important; /* Удаляет тень вокруг элемента */
  border-bottom: 2px solid #1677ff !important; /* Синий цвет для границы */
}

.close-icon-hover {
  cursor: pointer;
  border-radius: 50%; /* Создает круглую форму */
  padding: 10px; /* Расстояние от иконки до границ фона */
  width: 40px; /* Явное задание ширины */
  height: 40px; /* Явное задание высоты */
  /* Центрирование содержимого элемента, если требуется */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out; /* Плавное появление фона */
}

.close-icon-hover:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Полупрозрачный фон при наведении */
}
