.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center-row {
  align-items: center;
}

.center-column {
  justify-content: center;
}

.center-text {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}
